* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.removeScroll {
  overflow: hidden;
}

.addScroll {
  overflow: auto;
}

.hidebutton {
  opacity: 0;
}